<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>Chat</title>

<link rel="shortcut icon" href="/favicon.ico"></head>
<body>
	<div id='root' class="root"></div>
<script type="text/javascript" src="/app.4f97fc.js"></script></body>
</html>


